---
import NavBar from "../components/NavBar";
import { actions } from "astro:actions";
import "@fontsource/lilita-one";

const token = Astro.cookies.get("token");
let isAlwaysMinimized = false;
try {
  if (token) {
    const { data } = await Astro.callAction(actions.verifyUserJwt, token.value);

    const settings = await Astro.callAction(actions.getUserSettings, data.id);
    isAlwaysMinimized = settings.data.alwaysMinimizeNavbar;
  }
} catch (e) {
  console.log(e);
}
---

<!doctype html>
<html class="m-0 w-full h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class={`font-['Lilita_One'] bg-[rgb(4,5,15)] text-center text-white m-0 w-full h-full *:overflow-y-hidden`}
  >
    <NavBar isAlwaysMinimized={isAlwaysMinimized} isLoggedIn={token ? true : false} client:load />
    <main class="min-w-4/5 ml-auto sm:border-[20px] border-gray-900 h-full">
      <slot />
    </main>
  </body>
</html>
