---
import NavBar from "../components/NavBar";
import '@fontsource/lilita-one';

const isLoggedIn = Astro.cookies.get("token") ? true : false;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class={`font-['Lilita_One'] bg-[rgb(4,5,15)] text-center text-white`}>
    <NavBar isLoggedIn={isLoggedIn} client:load/>
    <main class="min-w-4/5 ml-auto border-[20px] border-gray-900 h-full">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
