---
import "@fontsource/lilita-one";
---

<!doctype html>
<html class="h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class={`font-['Lilita_One'] bg-[#0D0D1A] text-center text-white m-0 w-full h-full z-0 overflow-hidden`}
  >
    <main class="h-full">
      <slot />
    </main>
  </body>
</html>

<style></style>
