---
import Layout from "../layouts/Layout.astro";
import cookingVideo from "../assets/cooking.mp4";
---

<video
  class="-z-30 absolute w-full h-full blur-md opacity-30 object-cover"
  autoplay
  muted
  loop
>
  <source src={cookingVideo} />
</video>
<Layout>
  <div class="flex flex-col items-center justify-center gap-10 h-full">
    <h1 class="text-9xl">
      Recipe <span class="text-blue-400">Bank</span>
    </h1>
    <div class="text-4xl">
      <p><span class="">See</span> it.</p>
      <p>Save it.</p>
      <p>Cook it.</p>
    </div>
    <a
      class="bg-lime-700 w-fit p-2 rounded border-[1px] border-white mt-8"
      href="/login">Get started</a
    >
  </div>
</Layout>
