---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <p>Have you ever found a recipe on the web that you really really like, so you bookmark it, but when it's time to finally use it, it's just gone?</p>
    <p>With RecipeBank, you can store all your saved recipes in one place. Add them, and they will be here, forever*.</p>

</Layout>
