---
import SettingsMenu from "../../components/SettingsMenu";
import Layout from "../../layouts/Layout.astro";

const token = Astro.cookies.get("token");
---

<Layout>
        <h1 class="text-2xl m-2">Settings</h1>

        <SettingsMenu token={token?.value ?? ""} client:load/>
</Layout>