---
import SettingsMenu from "../../components/SettingsMenu";
import LandingPageLayout from "../../layouts/LandingPageLayout.astro";

const token = Astro.cookies.get("token");

if (!token) {
  return Astro.redirect("/login");
}
---

<LandingPageLayout>
  <h1 class="text-2xl m-2">Settings</h1>
  <SettingsMenu token={token?.value ?? ""} client:load />
</LandingPageLayout>
